* {	
	font-family: palatino,Arial;
	font-size: 16px;
	}


/* Begin Nav Style*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
/* End Nav Style*/


article {
	background-color: White;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 1080px;
	margin: auto;
	float: none;
	}

.group {	
	display: flex;
	flex-direction: column;
	margin: auto;
	height: 100%
	max-height: 1000px;
	margin-top: 100px; 
	}  
	
.column1of3 {
	width: 100%; 
	max-width: 250px;
	margin: auto;
	}
	
.column2of3 {
	width: 100%; 
	height: 100%;
	max-width: 500px;
	max-height: 200px;
	text-align: center;
	}
	
.column3of3 {
    width: 100%
    max-width: 500px;
    height: 350px;
    overflow: scroll;
    }
	

a:link {color: rgb(102,205,170);}
a:visited {color: rgb(251,149,139);}
a:hover {color: rgb(55,90,37);}
	