* {
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	}

	html, body {
	  height: 100%;
	}
	body {
	  display: flex;
	  flex-direction: column;
	}


.content{flex: 1 0 auto;}

.article {
	background-color: White;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 1080px;
	margin: auto;
	float: none;
	padding: 5px;
	padding-top: 30px;
	}


.group {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0px;
	}

.column1of3 {
	width: 100%;
	max-width:350px;
	margin: auto;
	padding: 2.5px;
	}

.column1of3	img {
	    max-width: 100%;
	    max-height: 100%;
	}



.column2of3 {
	width: 100%;
	height: 100%;
	max-width: 400px;
	text-align: center;
	margin-bottom: 0px;
	padding: 2.5px;
}

.column2of3 p {
	font-size: 17px;
	line-height: 1.5em;
	padding-top: 10px;
	padding-bottom: 10px;
}



td {
	text-align: center;
	padding:0px 10px 0px 10px;
	border-collapse: collapse;
}
table {
	margin-top: 0;

	}

a {
font-family: 'Dosis', sans-serif;
}


a:link {
	color: rgb(0,0,0);
	text-decoration: none;
}
a:visited {
	color: rgb(0,0,0);
	text-decoration: none;
}
a:hover {
	color: rgb(0,0,0);
	text-decoration: underline;
}
