* {
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	}

.paper {
	/*width: 100%;*/
	padding: 25px;
}

.paper strong {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	font-weight: 400;
}

.paper small {
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	font-weight: 200;
}

.paper small a{
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	font-weight: 200;
}

.section {
	width: 100%;
	max-width: 779px;
	margin: auto;
}


.abstract {
	font-size: 15px;
	margin: 15px 0px 40px 0px;
	text-align: justify;
  text-justify: inter-character;
  display:block;
}

a {
	font-family:'Dosis', sans-serif;
}

a:link {
	color: rgb(0,0,0);
	text-decoration: none;
}

a:visited {
	color: rgb(0,0,0);
	text-decoration: none;
}

a:hover {
	color: rgb(0,0,0);
	text-decoration: underline;
}

h2 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 100;
	font-size: 40px;
	color: white;
	/*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;*/
}

.accordion {
    background: none;
    cursor: pointer;
    padding: 5px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: 'Dosis', sans-serif;
}

button:hover {text-decoration: underline;}

.panel {
    padding: 0 18px;
    display: block;
    background-color: white;
    overflow: hidden;
	
}

.header {
	/*background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)),*/
	background: url("https://raw.githubusercontent.com/jacobhowardecon/jacobhowardecon.github.io/master/photos/Mesa_Arch.jpg");
	max-width: 100%; 
    max-height: 100%;
	height: 30vh;
    display: block; 
    margin: auto;
	width: device-width;
	background-attachment: fixed;
 	background-position: center top;
 	background-repeat: no-repeat;
 	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20%;
}

.header2 {
	/*background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)),*/
	background: url("https://raw.githubusercontent.com/jacobhowardecon/jacobhowardecon.github.io/master/photos/leadville.jpg");
	max-width: 100%; 
    max-height: 100%;
	height: 30vh;
    display: block; 
    margin: auto;
	width: device-width;
	background-attachment: fixed;
  	background-position: center top;
  	background-repeat: no-repeat;
  	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10%;
}


@media only screen and (max-device-width: 768px) {
    /*this only adjusts based on device size*/
	.header {background-attachment: scroll;
		background-size: cover;
		background-position:50% 50%;
		width:100%;
		height:auto;
		object-fit:contain;
	}
	.header2 {background-attachment: scroll;
		background-size: cover;
		background-position:50% 50%;
		object-fit:contain;}
	
	.panel {display:none;}

	ul {padding:10px;}
	
	.section {max-width:95vh;}
}


@media screen and (max-width: 768px) { /* 779 */
	/*this adjusts based on browser size*/
	.header {background-attachment: scroll;
		background-size: cover;
		background-position:50% 50%;
		width:100%;
		height:auto;
		object-fit:contain;
	}
	.header2 {
		background-attachment: scroll;
		background-size: cover;
		background-position:50% 50%;
		object-fit:contain;}

	.panel {display:none;}

	ul {padding:10px;}

	.section {max-width:95vh;}
}


