* {
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	}

body {
    margin: 0;
}
h2 {text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 100;
	font-size: 40px;
	color: white;
}
.content {
	flex-wrap: wrap;
	background-color: white;
	justify-content: space-around;
	margin: auto;
	float: none;
	max-width: 779px;
	width: 100%;
	}


	.header {
		/*background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)),*/
		background: url("https://raw.githubusercontent.com/jacobhowardecon/jacobhowardecon.github.io/master/photos/goat_haunt.jpg");
		height: 500px;
		min-height: 100%;
		background-attachment: fixed;
	  background-position: center top;
	  background-repeat: no-repeat;
	  background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 20%;
	}

@media screen and (max-width: 779px) {
	.article{/*padding-top: 5px; */flex-direction: column;}
	.header {background-attachment: scroll;}
	}


a {
font-family: 'Dosis', sans-serif;
text-decoration: underline;
}
a:link {
	color: rgb(0,0,0);
	text-decoration: underline;
}
a:visited {
	color: rgb(0,0,0);
	text-decoration: none;
}
a:hover {
	color: rgb(0,0,0);
	text-decoration: underline;
}
br { font-size: 150%; }
